.tableBackground  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*background-image: url("./table2.png"); */
    background-image: url("../image/AdobeStock_86225112.jpeg");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 1300px 1100px;
    width: 100%;
    height: 100%;




    }

/*w3schools----------*/

.container {
      position: relative;
}

.topleft {
      position: absolute;
      top: 8px;
      left: 10px;
      font-size: 18px;
}

.float-left {
    float:left;
    width:300px; // or 33% for equal width independent of parent width
}

.subbutton {
    display: inline-block;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 5px;
}

.subbutton:hover {background-color: #3e8e41}

.subbutton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* .button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
} */


.button {
      display: inline-block;
      border-radius: 4px;
      background-color: #00CED1;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 18px;
      padding: 12px;
      width: 120px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    }

.button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }

.button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }

.button:hover span {
      padding-right: 25px;
    }

.button:hover span:after {
      opacity: 1;
      right: 0;
    }

body{
    background-image: url("../image/AdobeStock_267103158.jpeg");
    background-color: #cccccc;
}
